.box {
	margin: 5px;
	margin-bottom: 35px;
	box-shadow: 10px 10px 5px grey;
}
.boxTitle {
	height: 60px;
	background-color: #000000;
	color: white;
	padding-left: 10px;
	display: flex;
}
h3 {
	padding-top: 12px;
	margin-bottom: 0px;
}
.boxTitleText {
	width: 100%;
	float: left;
}
.boxTitleInfo {
	float: right;
	height: 100px;
	width: 100px;

	transform: scale(0.6) translate(17px, -34px);
	overflow: hidden;
}
.infoIcon {
	margin-top: 20px;
	width: 60px;
	height: 60px;
}
.boxInfoContent,
.boxAlertContent {
	background-color: #ffffff;
}
.boxContentWrapper {
	overflow: overlay;
}
.boxContent {
	padding: 7px;
	background-color: white;
	font-size: 16px;
}
p {
	margin-top: 1px;
}
.boxAlertWrapper {
	background-color: black;
}
.boxAlertContent {
	width: auto;
	display: flex;
	color: white;
	padding: none;
}
.notificationText {
	padding-top: 6px;
	padding-left: 7px;
	width: calc(100% - 40px);
	margin: none;
}

.notificationCloseIcon {
	width: 35px;
}
